{% block newsletter2go_index %}
    <sw-page class="newsletter2go">

        {# header start #}
        {% block newsletter2go_index_header %}
            <template slot="smart-bar-header">
                <h2>
                    Newsletter2Go
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    Plugin
                </h2>
            </template>
        {% endblock %}
        {# header start #}

        {# buttons bar start#}
        {% block newsletter2go_index_actions %}
            <template slot="smart-bar-actions">
                {% block newsletter2go_connect_button %}
                    <sw-button :disabled="isConnected" variant="primary" :square="false" :block="false" :link="setting.connectLink" :isLoading="isAccountConfigLoading">
                        {{ $tc('newsletter2go.settingForm.connectButton') }}
                    </sw-button>
                {% endblock %}

                {% block newsletter2go_save_button %}
                <sw-button variant="primary" @click="onSave" :disabled="isLoading" :disabled="!isConnected">
                    {{ $tc('newsletter2go.settingForm.save') }}
                </sw-button>
                {% endblock %}

            </template>
        {% endblock %}
        {# buttons bar end#}

        {# content start #}
        {% block newsletter2go_index_content %}
            <sw-card-view slot="content">

                {% block newsletter2go_account_configuration %}
                    <sw-card title="Account Configuration" :isLoading="isAccountConfigLoading" :large="false">
                        <sw-icon :name="setting.connectionIcon" :color="setting.connectionIconColor"></sw-icon> {{ setting.connectionText }}
                    </sw-card>
                {% endblock %}

                <sw-card title="Conversion-Tracking" :isLoading="isLoading" :large="false">
                    <sw-switch-field :label="$tc('newsletter2go.settingForm.conversionTrackingSwitch')" v-model="setting.conversionTracking" :disabled="!isConnected">
                    </sw-switch-field>
                </sw-card>
            </sw-card-view>

        {% endblock %}
        {# content end #}
    </sw-page>
{% endblock %}
